{% if page.nocomments %}
{% else %}
{% if site.youyan_uid %}
<div class="post-comments"></div>
<!-- UY BEGIN -->
  <div id="uyan_frame"></div>
  <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=2139092"></script>
<!-- JiaThis Button BEGIN -->
   <div class="jiathis_style">
	<span class="jiathis_txt">分享到：</span>
	<a class="jiathis_button_qzone">QQ空间</a>
    	<a class="jiathis_button_tsina">新浪微博</a>
    	<a class="jiathis_button_tqq">腾讯微博</a>
    	<a class="jiathis_button_weixin">微信</a>
    	<a href="http://www.jiathis.com/share?uid=2139092" class="jiathis jiathis_txt jiathis_separator jtico jtico_jiathis" target="_blank">更多</a>
    	<a class="jiathis_counter_style"></a>
   <script type="text/javascript">
      var jiathis_config = {data_track_clickback:'true'};
   </script>
   <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=2139092" charset="utf-8"></script>
<!-- JiaThis Button END -->
<!-- UY END -->
{% endif %}
{% if site.disqus_shortname %}
<div class="post-comments">
  <div id="disqus_thread"></div>
  <script type="text/javascript">
      var disqus_shortname = '{{ site.disqus_shortname }}'; // required: replace example with your forum shortname
      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
  </script>
</div>
{% endif %}
{% if site.duoshuo_shortname %}
<div class="post-comments">
    <!-- 多说评论框 start -->
    <div class="ds-thread" data-thread-key="{{ page.id }}" data-title="{{ page.title }}" data-url="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"></div>
    <!-- 多说评论框 end -->
    <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
    <script type="text/javascript">
    var duoshuoQuery = {short_name:"{{ site.duoshuo_shortname }}"};
      (function() {
      	var ds = document.createElement('script');
      	ds.type = 'text/javascript';ds.async = true;
      	ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
      	ds.charset = 'UTF-8';
      	(document.getElementsByTagName('head')[0] 
      	 || document.getElementsByTagName('body')[0]).appendChild(ds);
      })();
      </script>
    <!-- 多说公共JS代码 end -->
</div>
{% endif %}
{% endif %}
